@font-face {
  font-family: Rajdhani;
  src: url('./Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Rajdhani;
  src: url('./Rajdhani-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Rajdhani;
  src: url('./Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Rajdhani;
  src: url('./Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Rajdhani;
  src: url('./Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
}
