{
  "presets": ["react-app"],
  "plugins": [
    ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-sass"] }],
    [
      "react-intl-auto",
      {
        "removePrefix": "src/"
      }
    ]
  ]
}
