/.env.local
/.env.production
tests/.env
node_modules/
package.temp.json
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.DS_Store
.vscode
yarn-error.log
dist/
/build
.idea
web-build
yalc.lock
__pycache__/


# cypress
cypress/screenshots
cypress/videos


# custom github actions
!.github/actions/pinata/dist
