name: Deploy

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master

jobs:
  deploy_ipfs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'

      - name: install
        run: npm ci

      - name: prepare env
        run: cp ${ENV:-'.github/.env.staging'} .env

      - name: build
        run: npm run build

      - name: deploy
        id: deploy
        env:
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_KEY: ${{ secrets.PINATA_SECRET_KEY }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ZONE_ID: ${{ secrets.CF_ZONE_ID }}
          PIN_ALIAS: staging
          CF_DEPLOYMENT_DOMAIN: staging.aave.com
        run: npm run pinata:ipfs-publish
