name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: restore build
        continue-on-error: true
        id: restore
        uses: actions/download-artifact@v2
        with:
          name: build_${{github.sha}}

      - name: prepare env
        if: steps.restore.outcome != 'success'
        run: cp ${ENV:-'.github/.env.preview'} .env

      - uses: ./.github/actions/build
        if: steps.restore.outcome != 'success'

  get-runner-for-tests:
    runs-on: ubuntu-latest
    outputs:
      runner-tags: "${{steps.get-tags.outputs.runner-tags}}"
    steps:
      - id: runners-json
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.LIST_RUNNERS_TOKEN}}
          script: |
            return github.rest.actions.listSelfHostedRunnersForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
      - id: get-tags
        name: Get resulting runner tags
        shell: python
        env:
          RUNNERS_JSON: "${{steps.runners-json.outputs.result}}"
        run: |
          import json
          from os import getenv
          r = json.loads(getenv('RUNNERS_JSON'))['data']
          has_avail = False
          for i in range(0,r['total_count']):
             has_avail = has_avail or not r['runners'][i]['busy']
          output = "::set-output name=runner-tags::"
          if has_avail:
            print(output+"self-hosted")
          else:
            print(output+"ubuntu-latest")
      - name: Test output
        run: |
          echo "Tags are: ${{steps.get-tags.outputs.runner-tags}}"

  cypress_test_main:
    runs-on: "${{needs.get-runner-for-tests.outputs.runner-tags}}"
    needs: 
      - build
      - get-runner-for-tests
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: install
        run: npm ci --prefer-offline --no-audit
        shell: bash

      - name: download build
        uses: actions/download-artifact@v2
        with:
          name: build_${{github.sha}}
          path: build

      - name: test
        uses: cypress-io/github-action@v2
        with:
          headless: true
          install: false
          record: false
          start: npm run start:prod
          # quote the url to be safe against YML parsing surprises
          wait-on: 'http://localhost:3000'
          command: npm run test:main
        env:
          CYPRESS_URL: 'http://localhost:3000'
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}

      # - name: upload videos
      #   uses: actions/upload-artifact@v2
      #   if: failure()
      #   with:
      #     name: cypress-fail-videos
      #     path: cypress/videos

      - name: upload screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-fail-screenshots
          path: cypress/screenshots

  cypress_test_amm:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: install
        run: npm ci --prefer-offline --no-audit
        shell: bash

      - name: download build
        uses: actions/download-artifact@v2
        with:
          name: build_${{github.sha}}
          path: build

      - name: test
        uses: cypress-io/github-action@v2
        with:
          headless: true
          install: false
          record: false
          start: npm run start:prod
          # quote the url to be safe against YML parsing surprises
          wait-on: 'http://localhost:3000'
          command: npm run test:amm
        env:
          CYPRESS_URL: 'http://localhost:3000'
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}

      # - name: upload videos
      #   uses: actions/upload-artifact@v2
      #   if: failure()
      #   with:
      #     name: cypress-fail-videos
      #     path: cypress/videos

      - name: upload screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-fail-screenshots
          path: cypress/screenshots

  cypress_test_polygon:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: install
        run: npm ci --prefer-offline --no-audit
        shell: bash

      - name: download build
        uses: actions/download-artifact@v2
        with:
          name: build_${{github.sha}}
          path: build

      - name: test
        uses: cypress-io/github-action@v2
        with:
          headless: true
          install: false
          record: false
          start: npm run start:prod
          # quote the url to be safe against YML parsing surprises
          wait-on: 'http://localhost:3000'
          command: npm run test:polygon
        env:
          CYPRESS_URL: 'http://localhost:3000'
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}

      # - name: upload videos
      #   uses: actions/upload-artifact@v2
      #   if: failure()
      #   with:
      #     name: cypress-fail-videos
      #     path: cypress/videos

      - name: upload screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-fail-screenshots
          path: cypress/screenshots

  upload:
    runs-on: ubuntu-latest
    needs: build
    outputs:
      uri: ${{ steps.pinata.outputs.uri }}
    steps:
      - uses: actions/checkout@v2

      - name: download build
        uses: actions/download-artifact@v2
        with:
          name: build_${{github.sha}}
          path: build

      - name: pinata
        id: pinata
        uses: aave/pinata-action@v1.1
        with:
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_KEY: ${{ secrets.PINATA_SECRET_KEY }}
          PIN_ALIAS: "${{ format('pull_request_{0}', github.head_ref) }}"
          BUILD_LOCATION: './build'
          CID_VERSION: 1

  # legacy testing setup till cypress has the same coverage
  test:
    runs-on: ubuntu-latest
    needs: upload
    container: 'wolphin/e2e-image'
    env:
      DOMAIN: '${{ needs.upload.outputs.uri }}'
      LAMBDATEST_ACCOUNT: ${{ secrets.LAMBDATEST_ACCOUNT }}
      LAMBDATEST_KEY: ${{ secrets.LAMBDATEST_KEY }}
      TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
      TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
      TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
    steps:
      - uses: actions/checkout@v2

      - name: install
        run: cd tests && npm ci

      - name: Main
        run: cd tests && BUILD="${GITHUB_REF}_${GITHUB_SHA}" npm run lambdaTest
