name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  deploy_ipfs:
    runs-on: ubuntu-latest
    outputs:
      uri: ${{ steps.deploy.outputs.uri }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'

      - name: install
        run: npm ci

      - name: prepare env
        run: cp ${ENV:-'.github/.env.preview'} .env

      - name: build
        run: npm run build:ipfs

      - name: test
        uses: cypress-io/github-action@v2
        with:
          headless: true
          install: false
          record: false
          start: npm run start:prod
          # quote the url to be safe against YML parsing surprises
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 60
          command: npm run test
        env:
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}

      - name: deploy
        id: deploy
        env:
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_KEY: ${{ secrets.PINATA_SECRET_KEY }}
          PIN_ALIAS: "${{ format('pull_request_{0}', github.head_ref) }}"
        run: npm run pinata:ipfs-publish

      - uses: actions/github-script@v5
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.payload.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Preview link: ${{steps.deploy.outputs.uri}}'
            })
