name: CI

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  deploy_ipfs:
    runs-on: ubuntu-latest
    container: node:14
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    env:
      REACT_APP_SUPPORTED_ETHEREUM_NETWORKS: 'kovan,mumbai,fuji,mainnet,polygon,avalanche'
      REACT_APP_DEFAULT_ETHEREUM_NETWORK: 'mainnet'
      REACT_APP_ENABLE_CACHING_BACKEND: 'true'
      REACT_APP_ENABLE_NASH: 'true'
      REACT_APP_RATES_HISTORY_ENDPOINT: 'https://aave-api-v2.aave.com/data/rates-history'
      NGINX_MODE: 'staging'
    steps:
      - uses: actions/checkout@v2

      - name: install
        run: npm ci

      - name: Build and pinata upload
        id: deploy
        env:
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_KEY: ${{ secrets.PINATA_SECRET_KEY }}
          PIN_ALIAS: "${{ format('pull_request_{0}', github.head_ref) }}"
        run: npm run pinata:ipfs-publish

      - uses: actions/github-script@v5
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.payload.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Preview link: ${{steps.deploy.outputs.uri}}'
            })

  test:
    runs-on: ubuntu-latest
    needs: deploy_ipfs
    container: "wolphin/e2e-image"
    env:
      DOMAIN: "${{ needs.deploy_ipfs.outputs.url }}"
      LAMBDATEST_ACCOUNT: ${{ secrets.LAMBDATEST_ACCOUNT }}
      LAMBDATEST_KEY: ${{ secrets.LAMBDATEST_KEY }}
      TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
      TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
      TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
    steps:
      - uses: actions/checkout@v2

      - name: install
        run: cd tests && npm ci
      
      - name: Main
        run: cd tests && BUILD="${GITHUB_REF}_${GITHUB_SHA}" npm run lambdaTest
